<p id="notice"><%= notice %></p>

<p>
  <b>Cantidad:</b>
  <%= @articulos_factura.cantidad %>
</p>


<%= link_to 'Editar', edit_articulos_factura_path(@articulos_factura) %> |
<%= link_to 'Regresar', articulos_facturas_path %>
