<p>Hola, <%= @resource.email %>!</p>

<p>Alguien ha solicitado un cambio de contraseña desde esta cuenta. Para confirmar, acceder al siguiente enlace:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si dicho cambio no fue solicitado, haga caso omiso de este mensaje.</p>
<p>Su contraseña no cambiará a menos que lo indique expresamente accediendo al enlace anterior.</p>
